.errorBox {
    background-color: rgba(232, 77, 77, 0.7);
    border-radius: 10px;
    color: whitesmoke;
    width: 40%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .5rem !important;
}
.errorBox p {
    padding: 0.5rem;
}

.messageBox {
    background-color: rgba(0, 123, 255, 0.7);
    border: 2px solid blue;
    border-radius: 10px;
    color: whitesmoke;
    width: 30%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}