
.cardContainer {
    background-color: #272727;
    color: #fff;
    padding: .8rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.cardAuthor {
    font-weight: bold;
}

.ratingsContainer {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: nowrap;
}


.rating {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}

.opinion {
    margin-top: 1rem;
}

.readMoreLink {
    padding: .8rem;
    color: #aaa;
    background-color: #151515;
}

.readMoreLink:hover {
    background-color: #66A1BF;
    color: #272727;
}

.cardButtonContainer {
    display: flex;
    justify-content: right;
    gap: .5rem;
}

.cardButtonContainer button {
    padding: .6rem .8rem;
    height: fit-content;
}

.commentCardContainer {
    composes: cardContainer;
    padding-left: 2rem;
    padding-bottom: 1rem;
    width: 70%
}

.usernameAndProgressContainer {
    display: flex;
    justify-content: left;
    gap: 3rem;
}

.courseLink {
    padding: 0.4rem;
}

@media (max-width: 1000px) {
    .ratingsContainer {
        flex-direction: column;
        gap: 1rem;
    }

    .rating {
        width: auto;
    }
}

/* todo: add popups when hovering over the buttons */