
select {
    color: #888;
    padding-left: .8rem;
    border: 1px solid #222;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: #222;
    margin-top: .5rem;
    margin-bottom: .5rem;
    box-sizing: border-box;
    transition: border-color 0.3s, color 0.3s, background-color 0.3s, transform 0.3s; /* Add transform to the transition */
    outline: none;
    display: block;
    width: 90%;
    height: 2.75rem;
    background-clip: padding-box;
}


select:hover {
    border-color: #aaa;
    color: #aaa;
    background-color: #222;
    outline: none;
}

select option {
    background-color: #222;
    color: #999;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

select option:hover {
    background-color: #333;
}
