@import "Courses.module.css";

.adminHeader {
    composes: coursesHeader from "Courses.module.css";
}

.managementAndReportContainer {
    display: flex;
    margin-top: 2rem;
    width: 90%;
    gap: 3rem;
}


.reportCard {
    background-color: #2a2a2a;
    border-radius: .5rem;
    margin-top: 1rem;
    padding: 1rem 1.5rem 1rem;
}

.reportCard:first-child {
    margin-top: 0;
    padding-top: 1rem;
}

.reportCard h3 {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.reportMetadata {
    color: #fff;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

.filterButton {
    border-bottom-left-radius: 0;
    font-size: 1.2rem;
    width: 100%;
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-bottom-right-radius: 0;
}

.activeFilterButton {
    composes: filterButton;
    color: #fff;
    background-color: #222222;
}

.reportCardButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    gap: 1rem;
}

.reportCardButtonContainer button {
    flex-grow: 0;
    height: fit-content;
}
