
@import "../index.css";

.ForgotPasswordContainer {
    composes: container from "../index.css";
    margin-top: 5rem;
}

.ForgotPasswordContainer h1 {
    margin-bottom: 2rem;
}

.ForgotPasswordContainer input[type="submit"] {
    padding: 1rem 2rem;
}

.ForgotPasswordContainer input[type="email"] {
    font-size: 1.25rem;
    padding: 1rem;
    margin-top: 0;
    width: 40%;
}
