.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    width: 50%;
}

.profileContainer button {
    color: #fff;
    margin: .3rem;
    width: 10rem;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}



.deleteAccountButton {
    /* todo: remove important */
    background-color: rgba(255,8,0,0.85);
}