@import "SingleCourse.module.css";

/* todo: factor out course stuff to a separate shared css */


.singleTeacherContainer {
    composes: container from "../index.css";
}


.teacherInfoContainer {
    composes: courseInfoContainer from "SingleCourse.module.css";
}


.teacherInfo h2, p {
    padding-bottom: .5rem;
}

.noReviewsDisclaimer {
    margin: 1rem 0 2rem;
}

.reviewListContainer {
    margin: 1rem 0 2rem;
}

.reviewContainer {
    width: 90%;
}

.reviewContainer h2 {
    margin-top: 3rem;
}