@import "SingleCourse.module.css";

/* todo: factor out course stuff to a separate shared css */


.singleTeacherContainer {
    composes: container from "../index.css";
}


.teacherInfoContainer {
    composes: courseInfoContainer from "SingleCourse.module.css";
}


.teacherInfo h2, p {
    padding-bottom: .5rem;
}

