@import "../../ui/index.css";

.singleCourseContainer {
    composes: container from "../../ui/index.css";
}


.courseInfoContainer {
    display: flex;
    margin: 2rem 0;
    gap: 3rem;
}


.courseInfo h2, p {
    padding-bottom: .5rem;
}

.writeReviewLink {
    padding: .8rem;
    color: #aaa;
    background-color: #151515;
}

/* todo: space the lower button out */