/* styles.css */

/* Custom Classes for SingleCourse Component */
.SingleCourseContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.SingleCourseLoading {
    text-align: center;
    font-size: 18px;
}

/* Custom Classes for CourseDetails Component */
.CourseDetailsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.CourseTitle {
    font-size: 36px;
    margin-bottom: 10px;
}

.TeacherSection {
    font-size: 24px;
    margin-top: 20px;
}

.CourseInfo {
    font-size: 18px;
    margin-bottom: 10px;
}

.OpinionsSection {
    font-size: 24px;
    margin-top: 20px;
}

.TeacherHeader {
    font-size: 20px;
    font-weight: bold;
}

.TeacherLink {
    text-decoration: none;
    color: #3498db;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.TeacherLink:hover {
    color: #2980b9;
}
