.review-form {
    max-width: 80%;
    margin: 0 auto;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-form h1 {
    font-size: 2em;
    margin-bottom: 2em;
}

.review-form textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    resize: vertical;
}

.review-form p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.review-form .rating-slider {
    margin-bottom: 2em;
}

.review-form button {
    background-color: #4caf50;
    color: white;
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 0.3em;
}

.review-form button:hover {
    background-color: #45a049;
}
